# --- تلگرام ---
# توکن ربات را از @BotFather بگیرید
TELEGRAM_BOT_TOKEN=8937279359:AAF255eNWUnw_263UYaQHbygZ7D2HkXAek4

# آیدی عددی کانال (با فوروارد یک پیام از کانال به @userinfobot می‌توانید بگیرید)
# یا اگر کانال پابلیک است می‌توانید از یوزرنیم استفاده کنید، مثلا: @mychannel
TELEGRAM_CHANNEL_ID=-1004316891824

# --- تولید تصویر (HuggingFace) ---
OPENAI_API_KEY=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

# --- زمان‌بندی پست روزانه (به وقت محلی TIMEZONE) ---
POST_HOUR=21
POST_MINUTE=30
TIMEZONE=Asia/Tehran

# --- ترجمه فارسی مورد نظر (اختیاری) ---
# اگر خالی بگذارید، اسکریپت fetch_verses.py به صورت خودکار یکی از
# ترجمه‌های فارسیِ موجود در API را انتخاب می‌کند (ترجیحاً مکارم شیرازی در صورت وجود)
PREFERRED_FA_EDITION=
