TELEGRAM_BOT_TOKEN=8937279359:AAF255eNWUnw_263UYaQHbygZ7D2HkXAek4
TELEGRAM_CHANNEL_ID=-1004316891824

# Cloudflare Workers AI (image generation)
CF_ACCOUNT_ID=6cc9a7c9e1fb7a2d940384d9dc7e3833
CF_API_TOKEN=cfut_Mw3BvembbvKVFkNrm1KA14f6RFGfOAP17qInLBOHb73e1252
# اختیاری - پیش‌فرض: @cf/black-forest-labs/flux-1-schnell
CF_IMAGE_MODEL=@cf/black-forest-labs/flux-1-schnell

POST_HOUR=8
POST_MINUTE=0
TIMEZONE=Asia/Tehran

# اختیاری - شناسه ترجمه فارسی دلخواه برای fetch_verses.py
PREFERRED_FA_EDITION=
